@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'GeistSans', sans-serif;
  --font-geist-mono: 'GeistMono', monospace;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-cinzel: 'Cinzel', serif;
  --font-marcellus: 'Marcellus', serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Orbitron', sans-serif; */
  font-family: var(--font-roboto);
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.landing-container {
  /* background-image: url('/images/wallpaper.jpg'); /* Corrected path */
  /* background-size: cover; /* Optional: cover the container */
  /* background-position: center; /* Optional: center the background */
  /* width: 100%; /* Ensuring full width */
  /* height: 100vh; /* Optional: full viewport height */
  filter: brightness(0.90);
}

.navbar {
  backdrop-filter: blur(10px);
  letter-spacing: 0rem;
}

.name {
  letter-spacing: 0rem;
}

.scroll-section {
  scroll-snap-align: start; /* Snap to the start of the section */
}

.footer {
  backdrop-filter: blur(10px);
}

.title {
  font-family: var(--font-roboto); 
  font-size: 4rem; 
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px; 
  font-style: bold; 
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
  font-variant: small-caps; 
  transition: transform 0.3s ease-in-out; 
}

.title:hover {
  transform: scale(1.05); 
}


